<header class="clearfix">
  <h2 class="pull-left">Locations for <%= @client.name %></h2>
  <%= link_to 'Back to client list', clients_path, class: "btn btn-success btn-lg pull-right" %>
</header>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>URN</th>
      <th>Name</th>
      <th>Default Number</th>
      <th>Mobile Number</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>

      <tr id="<%= location.urn %>" class="h-card">
        <td class="p-uid" id="urn--<%= location.urn %>">
          <%= location.urn %>
        </td>
        <td class="p-name" id="name--<%= location.name %>">
          <%= location.name %>
          <em><%= location.internal_branded_name %></em>
        </td>
        <td class="p-tel p-tel-default" id="default_number--<%= fetch_phone_number("default", location.phone_numbers) %>">
          <%= fetch_phone_number("default", location.phone_numbers) %>
        </td>
        <td class="p-tel p-tel-mobile" id="mobile_number--<%= fetch_phone_number("mobile", location.phone_numbers) %>">
          <%= fetch_phone_number("mobile", location.phone_numbers) %>
        </td>
        <td><%= link_to 'Edit', edit_location_path(location), class: "btn btn-default" %></td>
        <td><%#= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>

    <% end %>
  </tbody>
</table>