<header class="clearfix">
  <h2 class="pull-left">Locations for <%= @client.name %></h2>
  <%= link_to 'Back to client list', clients_path, class: "btn btn-success btn-lg pull-right" %>
</header>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<!-- 1. Load libraries -->
<script src="/assets/intl/dist/Intl.js"></script>
<script src="/assets/intl/locale-data/jsonp/en.js"></script>

<script src="/assets/es6-shim/es6-shim.min.js"></script>
<script src="/assets/systemjs/dist/system-polyfills.js"></script>

<script src="/assets/angular2/bundles/angular2-polyfills.js"></script>
<script src="/assets/systemjs/dist/system.src.js"></script>
<script src="/assets/rxjs/bundles/Rx.js"></script>
<script src="/assets/angular2/bundles/angular2.dev.js"></script>
<script src="/assets/angular2/bundles/http.dev.js"></script>
<script src="/assets/angular2/bundles/router.dev.js"></script>

<script>
  /**
   * This is the module loading setup... but above we pre-load a bunch of libraries that
   * we know we'll need to cut down on the latency of requesting one module at a time (it is actually very slow
   * even for a small app like this).
   *
   * The above "bundles" (they call them bundles because they package a bunch of modules into a single file
   * so that they can be included easily) will added to the SystemJS context relative to the current URL.  So if
   * the URL for this page is http://localhost:3000/reports/g5-c-1slhp2tc-compass-rock-real-estate/monthly_overview
   * then the bundles will register their modules like
   * ```
   * http://localhost:3000/reports/g5-c-1slhp2tc-compass-rock-real-estate/angular2/core
   *  // for `angular2/core`
   * ```
   *
   * So, in order to be able to load modules from different (absolute, non-parent relative) locations we need to map them.
   */
  System.config({
    map: {
      'clients_show': '/assets/ng2/clients_show',
      'pipes': '/assets/ng2/pipes'
    },
    packages: {
      'clients_show': {
        format: 'register',
        defaultExtension: 'js'
      },
      'pipes': {
        format: 'register',
        defaultExtension: 'js'
      }
    }
  });
  // and to finish, let's boot the app!
  System.import('clients_show/clients_show.boot');
</script>
<script type="text/javascript">
  window.locations = [
    <% @locations.each do |location| %>
    {
      urn: <%= raw location.urn.to_json %>,
      name: <%= raw location.name.to_json %>,
      internal_branded_name: <%= raw location.properties['internal_branded_name'].to_json %>,
      mobile_phone: <%= raw fetch_phone_number('mobile', location.phone_numbers).to_json %>,
      default_phone: <%= raw fetch_phone_number('default', location.phone_numbers).to_json %>,
    },
    <% end %>
  ];
</script>
<clients-show></clients-show>
