<%= form_for [ppc_number], html: {role: "form"} do |f| %>

  <div class="form-group col-md-4">
    <%= f.label :cpm_code %><br>
    <%= f.text_field :cpm_code, class: "form-control", required: true %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :number %><br>
    <%= f.text_field :number, class: "form-control", required: true %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, class: "form-control" %>
  </div>
  <div class="form-group col-md-12">
    <%= f.hidden_field :number_kind, value: "ppc" %>
    <%= f.hidden_field :location_id, value: @location.id %>
    <% if ppc_number.id.nil? %>
      <%= f.submit "Create PPC Number", class: "btn btn-primary pull-left" %>
    <% else %>
      <%= f.submit "Update PPC Number", class: "btn btn-primary pull-left" %>
      <%= link_to 'Delete PPC Number', phone_number_path(ppc_number), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>

<% end %>
