<% if location.errors.any? %>
  <tr id="error_explanation">
    <td colspan="7">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<tr>
  <%= form_for location, html: {role: 'form'} do |f| %>
    <td class="field">
      <%= f.label :urn, class: "sr-only" %>
      <%= f.text_area :urn, class: "form-control", rows: "1", required: true %>
    </td>
    <td class="field">
      <%= f.label :name, class: "sr-only" %>
      <%= f.text_area :name, class: "form-control", rows: "1", required: true %>
    </td>
    <td class="field">
      <%= f.label :default_number, class: "sr-only" %>
      <%= f.text_area :default_number, class: "form-control", rows: "1", required: true %>
    </td>
    <td class="field">
      <%= f.label :mobile_number, class: "sr-only" %>
      <%= f.text_area :mobile_number, class: "form-control", rows: "1" %>
    </td>
    <td class="field">
      <%= f.label :ppc_number, class: "sr-only" %>
      <%= f.text_area :ppc_number, class: "form-control", rows: "1" %>
    </td>
    <td class="actions">
      <%= f.submit(class: "btn btn-default") %>
    </td>
  <% end %>
  <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
</tr>