<% if location.errors.any? %>
  <tr class="alert alert-danger">
    <td colspan="7">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<tr id="<%= location.urn %>" class="h-card">
  <td class="field">
    <%= label_tag "urn--#{location.urn}", "URN", class: "sr-only" %>
    <%= text_area_tag "location_#{location.urn}--urn", location.urn, id: "urn--#{location.urn}", class: "form-control p-uid", rows: "1", required: true %>
  </td>
  <td class="field">
    <%= label_tag "name--#{location.name}", "Name", class: "sr-only" %>
    <%= text_area_tag "location_#{location.urn}--name", location.name, id: "name--#{location.name}", class: "form-control p-name", rows: "1", required: true %>
  </td>
  <td class="field">
    <%= label_tag "default_number--#{location.default_number}", "Default Number", class: "sr-only" %>
    <%= text_area_tag "location_#{location.urn}--default_number", location.default_number, id: "default_number--#{location.default_number}", class: "form-control p-tel p-tel-default", rows: "1", required: true %>
  </td>
  <td class="field">
    <%= label_tag "mobile_number--#{location.mobile_number}", "Mobile Number", class: "sr-only" %>
    <%= text_area_tag "location_#{location.urn}--mobile_number", location.mobile_number, id: "mobile_number--#{location.mobile_number}", class: "form-control p-tel p-tel-mobile", rows: "1" %>
  </td>
  <td class="field">
    <%= label_tag "ppc_number--#{location.ppc_number}", "PPC Number", class: "sr-only" %>
    <%= text_area_tag "location_#{location.urn}--ppc_number", location.ppc_number, id: "ppc_number--#{location.ppc_number}", class: "form-control p-tel p-tel-ppc", rows: "1" %>
  </td>
  <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
</tr>
