<h2><%= @location.name %></h2>

<p>
  <%= link_to 'Back To Location List', client_path(@location.client), class: "btn btn-success btn-lg" %>
</p>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="row">
  <% PhoneNumber::NUMBER_KINDS.each_with_index do |number_kind, index| %>
    <div class="form-group phone-numbers">
      <% numbers = [] %>
      <% numbers[index] = @location.phone_numbers.find_or_create_by(number_kind: number_kind) %>

      <%= form_for numbers[index], url: {action: "update", controller: :phone_numbers, id: numbers[index].id }, html: {role: "form"} do |f| %>
        <%= f.label "#{number_kind} Number" %><br>

        <%= f.radio_button :number_format, "national_format", :checked => (:number_format == 'national_format') %>
        <%= f.label :number_format, 'National Format', :value => 'national_format' %>
        <%= f.radio_button :number_format, "international_format", :checked => (:number_format == 'international_format') %>
        <%= f.label :number_format, 'International Format', :value => 'international_format' %>
        <%= f.radio_button :number_format, "contains_letters", :checked => (:number_format == 'contains_letters') %>
        <%= f.label :number_format, 'Contains Letters', :value => 'contains_letters' %>
        <%= f.radio_button :number_format, "australian", :checked => (:number_format == 'australian') %>
        <%= f.label :number_format, 'Australian Format', :value => 'australian' %>

        <%= f.text_field :number, class: "form-control" %>
        <%= f.submit "Update #{number_kind} number", class: "btn pull-left btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>

<hr />

<div class="row">
  <h3>PPC Numbers:</h3>
  <% @ppc_numbers.each do |number| %>
    <div class="form-group phone-numbers">
      <%= render 'ppc_numbers/form', {ppc_number: number, location: @location} %>
    </div>
  <% end %>

  <% if @ppc_numbers.empty? %>
    <div class="alert alert-danger">
      <p>There are no PPC numbers set up for this location</p>
    </div>
  <% end %>
</div>

<hr />

<h3>New PPC number:</h3>
<div class="row">
  <%= render 'ppc_numbers/form', {ppc_number: @location.ppc_numbers.new(), location: @location} %>
</div>

<hr />

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Update All Numbers', @location.client, class: "btn btn-success btn-block update-all-numbers" %>
  </div>
</div>
