<header class="clearfix">
  <h2 class="pull-left">Locations</h2>
  <%= link_to 'New Location', new_client_location_path(@client), class: "btn btn-success btn-lg pull-right" if @client %>
</header>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>URN</th>
      <th>Name</th>
      <th>Default Number</th>
      <th>Mobile Number</th>
      <th>PPC Number</th>
      <% if @client %>
        <th colspan="2">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>

      <tr id="<%= location.urn %>" class="h-card">
        <td class="p-uid" id="urn--<%= location.urn %>">
          <%= location.urn %>
        </td>
        <td class="p-name" id="name--<%= location.name %>">
          <%= location.name %>
        </td>
        <td class="p-tel p-tel-default" id="default_number--<%= fetch_phone_number("default", location.phone_numbers) %>">
          <%= fetch_phone_number("default", location.phone_numbers) %>
        </td>
        <td class="p-tel p-tel-mobile" id="mobile_number--<%= fetch_phone_number("mobile", location.phone_numbers) %>">
          <%= fetch_phone_number("mobile", location.phone_numbers) %>
        </td>
        <td class="p-tel p-tel-ppc" id="ppc_number--<%= fetch_phone_number("ppc", location.phone_numbers) %>">
          <%= fetch_phone_number("ppc", location.phone_numbers) %>
        </td>

        <% if @client %>
          <td><%= link_to 'Edit', edit_location_path(location), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>
