<!DOCTYPE html>
<html lang="en">
<head>
  <title>G5 Phone Number Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="<%= cms_url %>">CMS</a></li>
        <li class="active"><a href="/">Phone Numbers</a></li>
        <li><a href="<%= cpas_url %>">Pricing and Availability</a></li>
        <li><a href="<%= cxm_url %>">Customer Experience Management</a></li>
      </ul>
    </div>
  </nav>

  <header class="page-header" role="banner">
    <div class="container">
      <h1>ATTENTION: This service is deprecated!</h1>
      <p>This app is scheduled for deletion, and any data you enter here will be lost. Please use the new centralized phone service: <a href="https://g5-phone-number-service.herokuapp.com/">https://g5-phone-number-service.herokuapp.com/</a></p>
    </div>
  </header>

  <section class="container" role="main">
    <%= yield %>
  </section>

</body>
</html>
