<!DOCTYPE html>
<html lang="en">
<head>
  <title>G5 Phone Number Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="<%= cms_url %>">CMS</a></li>
        <li class="active"><a href="/">Phone Numbers</a></li>
        <li><a href="<%= cpas_url %>">Pricing and Availability</a></li>
        <li><a href="<%= cxm_url %>">Customer Experience Management</a></li>
      </ul>
    </div>
  </nav> -->

  <header class="page-header" role="banner">
    <div class="container">
      <h1><%= link_to 'Phone Number Service', root_path %></h1>
    </div>
  </header>

  <section class="container" role="main">
    <%= yield %>
  </section>

</body>
</html>
